Repository cocos/cocos-engine, pull requests merged in 2022-07, with the labels that each got.

#11803 Fix crash if device doesn't support vulkan or gles3
  native/cocos/renderer/gfx-gles2/GLES2GPUContext.cpp
  native/cocos/renderer/gfx-gles3/GLES3GPUContext.cpp
  native/cocos/renderer/gfx-vulkan/VKDevice.cpp
Labels: Bug, P1

#11896 Fix crash if closing app in surface shader test case.
  native/cocos/renderer/pipeline/BatchedBuffer.cpp
  native/cocos/renderer/pipeline/BatchedBuffer.h
  native/cocos/renderer/pipeline/InstancedBuffer.cpp
  native/cocos/renderer/pipeline/InstancedBuffer.h
  native/cocos/renderer/pipeline/RenderPipeline.cpp
  native/cocos/renderer/pipeline/ShadowMapBatchedQueue.cpp
  native/cocos/renderer/pipeline/deferred/GbufferStage.cpp
  native/cocos/renderer/pipeline/forward/ForwardStage.cpp
  native/cocos/scene/Pass.cpp
  native/cocos/scene/Pass.h
Labels: Bug, P1, Env: Native

#11901 Fix crash if closing app in SpineAttach test case.
  native/cocos/bindings/jswrapper/MappingUtils.cpp
  native/cocos/bindings/jswrapper/MappingUtils.h
  native/cocos/bindings/manual/jsb_dragonbones_manual.cpp
  native/cocos/bindings/manual/jsb_spine_manual.cpp
Labels: Bug, P1, Env: Native

#11909 [v3.6] Fix memory leak in UIModelProxy.cpp
  native/cocos/2d/renderer/UIModelProxy.cpp
  native/cocos/2d/renderer/UIModelProxy.h
Labels: Bug, P1, Env: Native

#11908 [v3.6] Fix memory leak of memop::Pool::destroy and refactor it.
  native/cocos/2d/renderer/Batcher2d.cpp
  native/cocos/2d/renderer/Batcher2d.h
  native/cocos/core/event/CallbacksInvoker.h
  native/cocos/core/memop/Pool.h
  native/tests/unit-test/src/pool_test.cpp
Labels: Bug, P1, Env: Native

#11869 optimize shader compiling
  cocos/core/renderer/scene/fog.ts
  cocos/core/renderer/scene/skybox.ts
  cocos/core/scene-graph/scene-globals.ts
  editor/assets/chunks/common/shadow/native-pcf.chunk
  editor/assets/chunks/lighting-models/model-functions/standard.chunk
  native/cocos/core/scene-graph/SceneGlobals.cpp
  native/cocos/scene/Fog.cpp
  native/cocos/scene/Fog.h
  native/cocos/scene/Skybox.cpp
  native/cocos/scene/Skybox.h
Labels: PR: Do not merge

#11976 Fix AddressSanitizer: memcpy-param-overlap: memory ranges in Mesh.cpp if CC_OPTIMIZE_MESH_DATA is enabled.
  native/cocos/3d/assets/Mesh.cpp
Labels: Bug

#11982 fix render pipline inspector
  editor/inspector/assets/render-pipeline.js
Labels: contribution

#12011 [v3.6.0] Refactor native Batcher2d lifecycle
  cocos/2d/renderer/batcher-2d.ts
  cocos/2d/renderer/native-2d.ts
  cocos/core/root.jsb.ts
  native/cocos/2d/renderer/Batcher2d.cpp
  native/cocos/2d/renderer/Batcher2d.h
  native/cocos/bindings/manual/jsb_scene_manual.cpp
  native/cocos/core/Root.cpp
  native/cocos/core/Root.h
  native/cocos/core/event/EventTypesToJS.cpp
  native/cocos/core/event/EventTypesToJS.h
  native/tools/tojs/scene.ini
Labels: P1, Optimization, Env: Native

#12016 Fix typo of TextureCube::setMipmapAtlas and update property binding in tojs/assets.ini
  native/cocos/core/assets/TextureCube.cpp
  native/cocos/core/assets/TextureCube.h
  native/tools/tojs/assets.ini
Labels: Bug, Env: Native

#12039 [v3.6.0] Optimize se::Object::getPrivateData, math::IsEqualF, Vec3::transformMat4
  .github/workflows/native-compile-platforms.yml
  native/cocos/bindings/jswrapper/v8/Object.cpp
  native/cocos/bindings/jswrapper/v8/Object.h
  native/cocos/core/assets/Font.cpp
  native/cocos/math/Mat4.h
  native/cocos/math/Math.cpp
  native/cocos/math/Math.h
  native/cocos/math/MathUtil.cpp
  native/cocos/math/Quaternion.cpp
  native/cocos/math/Vec3.cpp
  native/cocos/math/Vec3.h
  native/cocos/platform/interfaces/modules/canvas/CanvasRenderingContext2D.cpp
  native/cocos/renderer/gfx-gles2/GLES2CommandBuffer.cpp
  native/cocos/renderer/gfx-gles2/GLES2Texture.cpp
  native/cocos/renderer/gfx-gles3/GLES3CommandBuffer.cpp
  native/cocos/renderer/gfx-gles3/GLES3Texture.cpp
  native/cocos/renderer/gfx-metal/MTLRenderCommandEncoder.h
  native/cocos/renderer/gfx-metal/MTLUtils.mm
  native/cocos/renderer/gfx-validator/DescriptorSetLayoutValidator.cpp
  native/cocos/renderer/gfx-validator/DeviceValidator.cpp
  native/cocos/renderer/gfx-vulkan/VKCommandBuffer.cpp
  native/cocos/renderer/pipeline/ClusterLightCulling.h
  native/cocos/renderer/pipeline/Define.h
  native/tests/unit-test/src/utils.h
  native/utils/generate_compile_commands_android.sh
  templates/cmake/android.cmake
Labels: P1, Optimization, Env: Native

#12076 Fix crash of spine test on Android, revert Mat4 and use enoki::load_unaligned in Vec3::transformMat4Neon
  native/cocos/math/Mat4.h
  native/cocos/math/Vec3.cpp
Labels: Bug, Env: Native

#12172 The input argument of Mat4::toRTS should be in the first order and const reference, output arguments should be pointer.
  native/cocos/3d/skeletal-animation/SkeletalAnimationUtils.cpp
  native/cocos/math/Mat4.cpp
  native/cocos/math/Mat4.h
Labels: Bug, P1, Env: Native

#12170 Correct the logic of visiting _worldRotation/Scale/Position in Node.cpp.
  native/cocos/core/scene-graph/Node.cpp
  native/cocos/core/scene-graph/Node.h
Labels: Bug, P2, Env: Native

#12169 Fix wrong logic if passing 'keepWorldTransform = true' to setParent.
  native/cocos/core/scene-graph/Node.cpp
Labels: Bug, P1, Env: Native

#12168 Fix the bug of mathutils::approx always returns 1
  native/cocos/math/Utils.h
Labels: Bug, P1, Env: Native

#12185 [v3.6.0] Fix memory leaks
  native/cocos/bindings/jswrapper/v8/ScriptEngine.cpp
  native/cocos/editor-support/dragonbones/core/DragonBones.cpp
  native/cocos/renderer/pipeline/PlanarShadowQueue.cpp
  native/cocos/renderer/pipeline/forward/ForwardStage.cpp
Labels: PR: Do not merge

#12190 Fixed the problem that the script callback function could not be registered in game.cpp
  native/cocos/application/CocosApplication.cpp
  native/cocos/application/CocosApplication.h
  native/cocos/engine/Engine.cpp
Labels: Env: Native

#12202 refine websocketClose parameters for protection
  native/cocos/bindings/manual/jsb_websocket.cpp
  native/cocos/network/WebSocket-libwebsockets.cpp
Labels: PR: Do not merge

#12231 Fix memory leak in BufferAgent.cpp.
  native/cocos/renderer/gfx-agent/BufferAgent.cpp
Labels: Bug, Env: Native

#12250 Fix CocosApplication doesn't unregister engine event when restarting.
  native/cocos/application/CocosApplication.cpp
  native/cocos/application/CocosApplication.h
  native/cocos/bindings/manual/jsb_scene_manual.cpp
  native/cocos/core/event/CallbacksInvoker.cpp
  native/cocos/core/event/CallbacksInvoker.h
  native/cocos/core/scene-graph/Node.cpp
  native/cocos/core/scene-graph/Node.h
  native/cocos/core/scene-graph/NodeEventProcessor.cpp
  native/cocos/core/scene-graph/NodeEventProcessor.h
  native/tools/tojs/scene.ini
Labels: Bug, P1

#12259 Fix Object::clearPrivateData doesn't set _privateData to nullptr
  native/cocos/bindings/jswrapper/v8/Object.cpp
Labels: PR: Cowboy merged

#12260 Fix the crash after the behavior of Data_to_seval changed from returning TypedArray to returning ArrayBuffer.
  native/cocos/bindings/manual/jsb_assets_manual.cpp
  native/cocos/bindings/manual/jsb_gfx_manual.cpp
Labels: PR: Cowboy merged
