Repository cocos/cocos-engine, pull requests merged in 2022-10, with the labels that each got.

#13028 fix: buid-declaration
  package-lock.json
  package.json
  scripts/build-engine/package-lock.json
  scripts/build-engine/package.json
  scripts/build-engine/src/build-declarations/index.ts
Labels: PR: Do not merge

#13041 Feat: GFXBuffer supports exposing staging buffer address to reduce me…
  native/cocos/renderer/gfx-agent/BufferAgent.cpp
  native/cocos/renderer/gfx-agent/BufferAgent.h
  native/cocos/renderer/gfx-base/GFXBuffer.cpp
  native/cocos/renderer/gfx-base/GFXBuffer.h
  native/cocos/renderer/gfx-base/GFXDef-common.h
  native/cocos/renderer/gfx-metal/MTLBuffer.h
  native/cocos/renderer/gfx-validator/BufferValidator.cpp
  native/cocos/renderer/gfx-validator/BufferValidator.h
  native/cocos/scene/Model.cpp
  native/cocos/scene/Model.h
  native/tools/swig-config/gfx.i
Labels: Pipeline: Forward, Pipeline: Deferred

#13030 Feat: gpuObjects use smart_ptr [vulkan][buffer, texture]
  native/cocos/renderer/gfx-vulkan/VKBuffer.cpp
  native/cocos/renderer/gfx-vulkan/VKBuffer.h
  native/cocos/renderer/gfx-vulkan/VKCommandBuffer.cpp
  native/cocos/renderer/gfx-vulkan/VKCommands.cpp
  native/cocos/renderer/gfx-vulkan/VKCommands.h
  native/cocos/renderer/gfx-vulkan/VKDescriptorSet.cpp
  native/cocos/renderer/gfx-vulkan/VKDevice.cpp
  native/cocos/renderer/gfx-vulkan/VKDevice.h
  native/cocos/renderer/gfx-vulkan/VKGPUObjects.h
  native/cocos/renderer/gfx-vulkan/VKInputAssembler.cpp
  native/cocos/renderer/gfx-vulkan/VKTexture.cpp
  native/cocos/renderer/gfx-vulkan/VKTexture.h
  native/cocos/renderer/gfx-vulkan/states/VKSampler.cpp
  native/cocos/renderer/gfx-vulkan/states/VKSampler.h
Labels: GFX: Vulkan

#13085 GFXObjects use smart_ptr [Vulkan][Device]
  native/cocos/renderer/gfx-vulkan/VKCommandBuffer.cpp
  native/cocos/renderer/gfx-vulkan/VKCommandBuffer.h
  native/cocos/renderer/gfx-vulkan/VKDevice.cpp
  native/cocos/renderer/gfx-vulkan/VKDevice.h
  native/cocos/renderer/gfx-vulkan/VKQueue.cpp
  native/cocos/renderer/gfx-vulkan/VKQueue.h
  native/cocos/renderer/gfx-vulkan/VKSwapchain.cpp
  native/cocos/renderer/gfx-vulkan/VKSwapchain.h
  native/cocos/renderer/gfx-vulkan/states/VKBufferBarrier.cpp
  native/cocos/renderer/gfx-vulkan/states/VKBufferBarrier.h
  native/cocos/renderer/gfx-vulkan/states/VKGeneralBarrier.cpp
  native/cocos/renderer/gfx-vulkan/states/VKGeneralBarrier.h
  native/cocos/renderer/gfx-vulkan/states/VKTextureBarrier.cpp
  native/cocos/renderer/gfx-vulkan/states/VKTextureBarrier.h
Labels: GFX: Vulkan

#12911 physx backend remove updateCenterOfMass
  cocos/physics/physx/physx-shared-body.ts
  cocos/physics/physx/shapes/physx-shape.ts
  native/cocos/physics/physx/PhysXSharedBody.cpp
  native/cocos/physics/physx/PhysXSharedBody.h
  native/cocos/physics/physx/shapes/PhysXShape.cpp
Labels: Module: Physics
